
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: url(Assets/concrete_seamless.png);
  }
    #ad { border: 1px solid #4aaaa5;
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0px;
    margin-left: 10px;
    color: aliceblue;
    text-align: center;
    margin-right: 1000px;
    padding: 10px;
}
#nav a {
text-decoration: none;
color: #777;
}

header {
background-color: aliceblue;
    margin: 0px;
    display: flex;
}
#cat {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}
#esas {
    background-color: aliceblue;
}
.xet {margin: 1px;


}


